{% extends "layouts/main.html" %}

{% block pageTitle %}
How will you assess {{ data['method']}}? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}


<dl class="govuk-summary-list  govuk-summary-list--no-border">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Contact details
    </dt>
    <dd class="govuk-summary-list__value">
      07700 900457
    </dd>
  </div>
</dl>


{% endblock %}
