{% extends "layouts/main.html" %}

{% block pageTitle %}
How will you assess {{ data['method']}}? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<form class="form" action="#" method="post">





    {% for a, methods in data['str'] %}
    {% for a in  data['strMethods'] %}
    {{a}}
    {{methods}}
{%- endfor %}


{%- endfor %}


<button class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">Continue</button>
</form>



{% endblock %}
