{% extends "layouts/main.html" %}

{% block pageTitle %}
Select behaviours – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<form class="form" action="list?method=behaviours" method="post">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-l">
    When do you want to assess {{ data['method'] }}?
  </h1>

  <div style="border:1px solid #1d70b8; border-radius:8px;padding:10px">
  <h2 class="govuk-heading-m" style="color:#1d70b8" >{{ data['criteria-behaviours'] }}</h2>
  <ul class="govuk-list govuk-list--bullet-">
    {% for method in data['methods-behaviours'] %}
    <li><p class="govuk-body-m"><strong>{{ method }}</strong></p></li>
    {% endfor %}
  </ul>
  </div>

  <div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h2 class="govuk-summary-card__title" style="font-size:30px;color:#1d70b8;">{{ data['method'] | capitalize}}</h2>
    </div>
    <div class="govuk-summary-card__content">
      <dl class="govuk-summary-list">



  {% for items in criteria %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" style="width:50%">
            <p class="govuk-body-m"><strong>{{ items }}</strong></p>

          </dt>


          <dd class="govuk-summary-list__value" style="width:40%">
            <ul class="govuk-list govuk-list--bullet">
                      {% for method in data['behMethods'] | last | slice(1) %}
                      <li><p class="govuk-body-m">{{ method }}</p></li>
    {% endfor %}
            </ul>

          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#" style="padding-right:10px">
              Change<span class="govuk-visually-hidden"> age</span>
            </a>
            <a class="govuk-link" href="#" style="padding-left:10px">
              Delete<span class="govuk-visually-hidden"> age</span>
            </a>
          </dd>
        </div>
          {% endfor %}


      </dl>
    </div>
  </div>


      <div style="padding-top:20px; padding-bottom:20px;padding-left:10px;" class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h2 class="govuk-fieldset__heading">
            Recruitment stage
          </h2>
        </legend>
        <div id="changed-name-hint" class="govuk-hint">
          Information or guidance lorem ipsum dolor sit amet.
        </div>
        <div class="govuk-radios__item">

          <input class="govuk-radios__input" id="when-assess-application" name="when-assess" type="radio"  value="At application">
          <label class="govuk-label govuk-radios__label" for="when-assess">
            At application
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="when-assess-interview" name="when-assess" type="radio"  value="At interview">
          <label class="govuk-label govuk-radios__label" for="when-assess">
            At interview
          </label>
        </div>
      </div>

      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>


    {% endblock %}
