{% extends "layouts/main.html" %}

{% block pageTitle %}
Select behaviours – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<form class="form" action="list?method=behaviours" method="post">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
  <h1 class="govuk-heading-l">
    When do you want to assess {{ data['method'] }}?
  </h1>


  <h2 class="govuk-heading-m govuk-!-margin-bottom-3 govuk-!-margin-top-6">{{ data['criteria-behaviours'] }}</h2>
  <h2 class="govuk-heading-m govuk-!-margin-bottom-3 govuk-!-margin-top-6">{{ data['methods-behaviours']| slice(1) }}</h2>






      <div style="padding-top:20px; padding-bottom:20px;padding-left:10px;" class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h2 class="govuk-fieldset__heading">
            Recruitment stage
          </h2>
        </legend>
        <div id="changed-name-hint" class="govuk-hint">
          Information or guidance lorem ipsum dolor sit amet.
        </div>
        <div class="govuk-radios__item">

          <input class="govuk-radios__input" id="when-assess-application" name="when-assess" type="radio"  value="At application">
          <label class="govuk-label govuk-radios__label" for="when-assess">
            At application
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="when-assess-interview" name="when-assess" type="radio"  value="At interview">
          <label class="govuk-label govuk-radios__label" for="when-assess">
            At interview
          </label>
        </div>
      </div>

      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>


    {% endblock %}
