{% extends "layouts/main.html" %}

{% block pageTitle %}
How will you assess {{ data['method']}}? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
{% set technicalMethods = ['Application form','CV','Interview','Technical presentation','Technical test(s)','Work sample(s) or portfolio'] %}

{% set sklArray = [] %}

{% set s1 = data['skill1'].length %}
{% set s2 = data['skill2'].length %}
{% set s3 = data['skill3'].length %}



{% if s1 >= 1 %}
{% set sklArray = (sklArray.push(data['skill1']), sklArray)  %}
{% endif %}

{% if s2 >= 1 %}
{% set sklArray = (sklArray.push(data['skill2']), sklArray)  %}
{% endif %}

{% if s3 >= 1 %}
{% set sklArray = (sklArray.push(data['skill3']), sklArray)  %}
{% endif %}

<form class="form" action="when?method=skills" method="post">


<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      How will you assess {{ data['method'] }}
    </h1>
    {% for items in sklArray %}


    <h2 class="govuk-heading-m govuk-!-margin-bottom-3 govuk-!-margin-top-6">{{ items }}</h2>
    {% for sklMethods in technicalMethods %}
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="sklMethods" name="sklMethods" type="checkbox" value="{{sklMethods}}">
      <label class="govuk-label govuk-checkboxes__label" for="sklMethods">
        {{ sklMethods }}
      </label>
    </div>


    {%- endfor %}
    {%- endfor %}

  </div>
</div>



<button class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">Continue</button>



{% endblock %}
