{% extends "layouts/main.html" %}

{% block pageTitle %}
Experience – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
<a class="govuk-!-margin-top-2" href="what-do-you-want-to-assess" style="font-size:16px;float:right"> Home</a>
{% endblock %}

{% block content %}

{% set expArray1 = [] %}
{% set expArray2 = [] %}
{% set expArray3 = [] %}
{% set expArray4 = [] %}
{% set expArray5 = [] %}
{% set expArray6 = [] %}


{% if (data['criteria-experience-1'] | length) > 0 %}
{% set expArray1 = (expArray1.push(data['criteria-experience-1']), expArray1) %}
{% else %}
{% endif %}

{% if (data['criteria-experience-2'] | length) > 0 %}
{% set expArray2 = (expArray2.push(data['criteria-experience-2']), expArray2) %}
{% else %}
{% endif %}

{% if (data['criteria-experience-3'] | length) > 0 %}
{% set expArray3 = (expArray3.push(data['criteria-experience-3']), expArray3) %}
{% else %}
{% endif %}

{% if (data['criteria-experience-4'] | length) > 0 %}
{% set expArray4 = (expArray4.push(data['criteria-experience-4']), expArray4) %}
{% else %}
{% endif %}

{% if (data['criteria-experience-5'] | length) > 0 %}
{% set expArray5 = (expArray5.push(data['criteria-experience-5']), expArray5) %}
{% else %}
{% endif %}

{% if (data['criteria-experience-6'] | length) > 0 %}
{% set expArray6 = (expArray6.push(data['criteria-experience-6']), expArray6) %}
{% else %}
{% endif %}

<form class="form" action="list-by-criteria?method=experience" method="post">
  {% set experienceMethods = ['Application form','CV','Interview','Statement of suitability'] %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-xl">
        How do you want to assess this experience?
      </h1>
      {% set array = [] %}
      {% if data['criteria-experience-1'].length > 0 %}
      {% set array = (array.push(data['criteria-experience-1']), array) %}

      <div id="1" style="border:1px solid lightgrey;padding:20px;border-radius:5px;">
        {{ govukTextarea({
          label: {
            text: ""
          },
          id: "criteria-experience-1",
          rows: "2",
          name: "criteria-experience-1",
          value: data['criteria-experience-1']
        }) }}

        <div style="border:1px solid lightgrey;padding:20px;border-radius:5px">
          <h2 class="govuk-heading-m govuk-!-margin-top-0">
            At application
          </h2>
          {{ govukCheckboxes({
            idPrefix: "methods-experience-app-1",
            id: "methods-experience-app-1",
            name: "methods-experience-app-1",
            classes: "govuk-checkboxes",
            fieldset: {
              legend: {
                text: "",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
            {
              value: "Application form",
              text: "Application form",
              checked: checked("methods-experience-app-1", "Application form")
            },
            {
              value: "CV",
              text: "CV",
              checked: checked("methods-experience-app-1", "CV")
            },
            {
              value: "Personal statement",
              text: "Personal statement",
              checked: checked("methods-experience-app-1", "Personal statement")
            }
            ]
          }) }}


          {% set expArray1 = (expArray1.push(data['methods-experience-app-1']), expArray1) %}


          <h2 class="govuk-heading-m govuk-!-margin-top-3">
            At interview
          </h2>
          {{ govukCheckboxes({
            idPrefix: "methods-experience-int-1",
            id: "methods-experience-int-1",
            name: "methods-experience-int-1",
            classes: "govuk-checkboxes",
            fieldset: {
              legend: {
                text: "",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
            {
              value: "Interview questions",
              text: "Interview questions",
              checked: checked("methods-experience-int-1", "Interview questions")
            },
            {
              value: "Work samples or portfolio",
              text: "Work samples or portfolio",
              checked: checked("methods-experience-int-1", "Work samples or portfolio")
            },
            {
              value: "Presentation",
              text: "Presentation",
              checked: checked("methods-experience-int-1", "Presentation")
            }
            ]
          }) }}

{% set expArray1 = (expArray1.push(data['methods-experience-int-1']), expArray1) %}

        </div>

      </div>
      {% endif %}

      {% if data['criteria-experience-2'].length > 0 %}
      {% set array = (array.push(data['criteria-experience-2']), array) %}
      <div id="2" class="govuk-!-margin-top-6" style="border:1px solid lightgrey;padding:20px;border-radius:5px">

        {{ govukTextarea({
          label: {
            text: ""
          },
          id: "criteria-experience-2",
          rows: "2",
          name: "criteria-experience-2",
          value: data['criteria-experience-2']
        }) }}





        <div style="border:1px solid lightgrey;padding:20px;border-radius:5px;">
          <h2 class="govuk-heading-m govuk-!-margin-top-0">
            At application
          </h2>

          {{ govukCheckboxes({
            idPrefix: "methods-experience-app-2",
            id: "methods-experience-app-2",
            name: "methods-experience-app-2",
            classes: "govuk-checkboxes",
            fieldset: {
              legend: {
                text: "",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
            {
              value: "Application form",
              text: "Application form",
              checked: checked("methods-experience-app-2", "Application form")
            },
            {
              value: "CV",
              text: "CV",
              checked: checked("methods-experience-app-2", "CV")
            },
            {
              value: "Personal statement",
              text: "Personal statement",
              checked: checked("methods-experience-app-2", "Personal statement")
            }
            ]
          }) }}

          {% set expArray2 = (expArray2.push(data['methods-experience-app-2']), expArray2) %}



          <h2 class="govuk-heading-m govuk-!-margin-top-3">
            At interview
          </h2>
          {{ govukCheckboxes({
            idPrefix: "methods-experience-int-2",
            id: "methods-experience-int-2",
            name: "methods-experience-int-2",
            classes: "govuk-checkboxes",
            fieldset: {
              legend: {
                text: "",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
            {
              value: "Interview questions",
              text: "Interview questions",
              checked: checked("methods-experience-int-2", "Interview questions")
            },
            {
              value: "Work samples or portfolio",
              text: "Work samples or portfolio",
              checked: checked("methods-experience-int-2", "Work samples or portfolio")
            },
            {
              value: "Presentation",
              text: "Presentation",
              checked: checked("methods-experience-int-2", "Presentation")
            }
            ]
          }) }}

{% set expArray2 = (expArray2.push(data['methods-experience-int-2']), expArray2) %}

        </div>
      </div>
      {% endif %}

      {% if data['criteria-experience-3'].length > 0 %}
      {% set array = (array.push(data['criteria-experience-3']), array) %}

      <div id="3" class="govuk-!-margin-top-6" style="border:1px solid lightgrey;padding:20px;border-radius:5px;">

        {{ govukTextarea({
          label: {
            text: ""
          },
          id: "criteria-experience-3",
          rows: "2",
          name: "criteria-experience-3",
          value: data['criteria-experience-3']
        }) }}






        <div style="border:1px solid lightgrey;padding:20px;border-radius:5px">
          <h2 class="govuk-heading-m govuk-!-margin-top-0">
            At application
          </h2>
          {{ govukCheckboxes({
            idPrefix: "methods-experience-app-3",
            id: "methods-experience-app-3",
            name: "methods-experience-app-3",
            classes: "govuk-checkboxes",
            fieldset: {
              legend: {
                text: "",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
            {
              value: "Application form",
              text: "Application form",
              checked: checked("methods-experience-app-3", "Application form")
            },
            {
              value: "CV",
              text: "CV",
              checked: checked("methods-experience-app-3", "CV")
            },
            {
              value: "Personal statement",
              text: "Personal statement",
              checked: checked("methods-experience-app-3", "Personal statement")
            }
            ]
          }) }}
  {% set expArray3 = (expArray3.push(data['methods-experience-app-3']), expArray3) %}

          <h2 class="govuk-heading-m govuk-!-margin-top-3">
            At interview
          </h2>
          {{ govukCheckboxes({
            idPrefix: "methods-experience-int-3",
            id: "methods-experience-int-3",
            name: "methods-experience-int-3",
            classes: "govuk-checkboxes",
            fieldset: {
              legend: {
                text: "",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
            {
              value: "Interview questions",
              text: "Interview questions",
              checked: checked("methods-experience-int-3", "Interview questions")
            },
            {
              value: "Work samples or portfolio",
              text: "Work samples or portfolio",
              checked: checked("methods-experience-int-3", "Work samples or portfolio")
            },
            {
              value: "Presentation",
              text: "Presentation",
              checked: checked("methods-experience-int-3", "Presentation")
            }
            ]
          }) }}
          {% set expArray3 = (expArray3.push(data['methods-experience-int-3']), expArray3) %}



        </div>
      </div>
      {% endif %}

      {% if data['criteria-experience-4'].length > 0 %}
      {% set array = (array.push(data['criteria-experience-4']), array) %}

      <div id="4" class="govuk-!-margin-top-6" style="border:1px solid lightgrey;padding:20px;border-radius:5px;">

        {{ govukTextarea({
          label: {
            text: ""
          },
          id: "criteria-experience-4",
          rows: "2",
          name: "criteria-experience-4",
          value: data['criteria-experience-4']
        }) }}



        <div style="border:1px solid lightgrey;padding:20px;border-radius:5px">
          <h2 class="govuk-heading-m govuk-!-margin-top-0">
            At application
          </h2>
          {{ govukCheckboxes({
            idPrefix: "methods-experience-app-4",
            id: "methods-experience-app-4",
            name: "methods-experience-app-4",
            classes: "govuk-checkboxes",
            fieldset: {
              legend: {
                text: "",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
            {
              value: "Application form",
              text: "Application form",
              checked: checked("methods-experience-app-4", "Application form")
            },
            {
              value: "CV",
              text: "CV",
              checked: checked("methods-experience-app-4", "CV")
            },
            {
              value: "Personal statement",
              text: "Personal statement",
              checked: checked("methods-experience-app-4", "Personal statement")
            }
            ]
          }) }}
          {% set expArray4 = (expArray4.push(data['methods-experience-app-4']), expArray4) %}



          <h2 class="govuk-heading-m govuk-!-margin-top-3">
            At interview
          </h2>
          {{ govukCheckboxes({
            idPrefix: "methods-experience-int-4",
            id: "methods-experience-int-4",
            name: "methods-experience-int-4",
            classes: "govuk-checkboxes",
            fieldset: {
              legend: {
                text: "",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
            {
              value: "Interview questions",
              text: "Interview questions",
              checked: checked("methods-experience-int-4", "Interview questions")
            },
            {
              value: "Work samples or portfolio",
              text: "Work samples or portfolio",
              checked: checked("methods-experience-int-4", "Work samples or portfolio")
            },
            {
              value: "Presentation",
              text: "Presentation",
              checked: checked("methods-experience-int-4", "Presentation")
            }
            ]
          }) }}

        </div>
      </div>
      {% endif %}
{% set expArray4 = (expArray4.push(data['methods-experience-int-4']), expArray4) %}
      {% if data['criteria-experience-5'].length > 0 %}
      {% set array = (array.push(data['criteria-experience-5']), array) %}


      <div id="5" class="govuk-!-margin-top-6" style="border:1px solid lightgrey;padding:20px;border-radius:5px;">

        {{ govukTextarea({
          label: {
            text: ""
          },
          id: "criteria-experience-5",
          rows: "2",
          name: "criteria-experience-5",
          value: data['criteria-experience-5']
        }) }}




        <div style="border:1px solid lightgrey;padding:20px;border-radius:5px">
          <h2 class="govuk-heading-m govuk-!-margin-top-0">
            At application
          </h2>
          {{ govukCheckboxes({
            idPrefix: "methods-experience-app-5",
            id: "methods-experience-app-5",
            name: "methods-experience-app-5",
            classes: "govuk-checkboxes",
            fieldset: {
              legend: {
                text: "",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
            {
              value: "Application form",
              text: "Application form",
              checked: checked("methods-experience-app-5", "Application form")
            },
            {
              value: "CV",
              text: "CV",
              checked: checked("methods-experience-app-5", "CV")
            },
            {
              value: "Personal statement",
              text: "Personal statement",
              checked: checked("methods-experience-app-5", "Personal statement")
            }
            ]
          }) }}
          {% set expArray5 = (expArray5.push(data['methods-experience-app-5']), expArray5) %}



          <h2 class="govuk-heading-m govuk-!-margin-top-3">
            At interview
          </h2>
          {{ govukCheckboxes({
            idPrefix: "methods-experience-int-5",
            id: "methods-experience-int-5",
            name: "methods-experience-int-5",
            classes: "govuk-checkboxes",
            fieldset: {
              legend: {
                text: "",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
            {
              value: "Interview questions",
              text: "Interview questions",
              checked: checked("methods-experience-int-5", "Interview questions")
            },
            {
              value: "Work samples or portfolio",
              text: "Work samples or portfolio",
              checked: checked("methods-experience-int-5", "Work samples or portfolio")
            },
            {
              value: "Presentation",
              text: "Presentation",
              checked: checked("methods-experience-int-5", "Presentation")
            }
            ]
          }) }}
          {% set expArray5 = (expArray5.push(data['methods-experience-int-5']), expArray5) %}

        </div>
      </div>
      {% endif %}

      {% if data['criteria-experience-6'].length > 0 %}
      {% set array = (array.push(data['criteria-experience-6']), array) %}

      <div id="6" class="govuk-!-margin-top-6" style="border:1px solid lightgrey;padding:20px;border-radius:5px;">

        {{ govukTextarea({
          label: {
            text: ""
          },
          id: "criteria-experience-6",
          rows: "2",
          name: "criteria-experience-6",
          value: data['criteria-experience-6']
        }) }}


        <div style="border:1px solid lightgrey;padding:20px;border-radius:5px">
          <h2 class="govuk-heading-m govuk-!-margin-top-0">
            At application
          </h2>
          {{ govukCheckboxes({
            idPrefix: "methods-experience-app-6",
            id: "methods-experience-app-6",
            name: "methods-experience-app-6",
            classes: "govuk-checkboxes",
            fieldset: {
              legend: {
                text: "",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
            {
              value: "Application form",
              text: "Application form",
              checked: checked("methods-experience-app-6", "Application form")
            },
            {
              value: "CV",
              text: "CV",
              checked: checked("methods-experience-app-6", "CV")
            },
            {
              value: "Personal statement",
              text: "Personal statement",
              checked: checked("methods-experience-app-6", "Personal statement")
            }
            ]
          }) }}

                    {% set expArray6 = (expArray6.push(data['methods-experience-app-6']), expArray6) %}



          <h2 class="govuk-heading-m govuk-!-margin-top-3">
            At interview
          </h2>
          {{ govukCheckboxes({
            idPrefix: "methods-experience-int-6",
            id: "methods-experience-int-6",
            name: "methods-experience-int-6",
            classes: "govuk-checkboxes",
            fieldset: {
              legend: {
                text: "",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
            {
              value: "Interview questions",
              text: "Interview questions",
              checked: checked("methods-experience-int-6", "Interview questions")
            },
            {
              value: "Work samples or portfolio",
              text: "Work samples or portfolio",
              checked: checked("methods-experience-int-6", "Work samples or portfolio")
            },
            {
              value: "Presentation",
              text: "Presentation",
              checked: checked("methods-experience-int-6", "Presentation")
            }
            ]
          }) }}

          {{ data['criteria-experience'] | dump }}
          {{ data['methods-experience-app'] | dump}}
          {{ data['methods-experience-int'] | dump}}


  {% set expArray6 = (expArray6.push(data['methods-experience-int-6']), expArray6) %}
        </div>
      </div>
      {% endif %}

    </div>
  </div>



<!--

  sessionStorage.setItem("key", "value");
  Read Data from Session Storage
  let lastname = sessionStorage.getItem("key");
  Remove Data from Session Storage
  sessionStorage.removeItem("key");
  Remove All (Clear session Storage)
  sessionStorage.clear(); -->

<!--
<ul>
<li>{{ expArray1 | dump }}</li>
<li>{{ expArray2 | dump }}</li>
<li>{{ expArray3 | dump }}</li>
<li>{{ expArray4 | dump }}</li>
<li>{{ expArray5 | dump }}</li>
<li>{{ expArray6 | dump }}</li>
</ul>

{% set  kittyCat = [expArray1,expArray2,expArray3]  %}

{{ data['test'] }}

{{ experience1 }} -->

  <button class="govuk-button govuk-!-margin-top-9" data-module="govuk-button">Continue</button>

</form>
<script>
function stork() {
sessionStorage.setItem("experience1","{{kittyCat}}");
sessionStorage.setItem("experience2","{{expArray2}}");
}

var test = sessionStorage.getItem("experience1");
console.log(test);
</script>

{% endblock %}
