{% extends "layouts/main.html" %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block pageTitle %}
Experience – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<form class="form" action="experience-how?method=experience" method="post">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-xl">
        What experience do you want to assess candidates on?
      </h1>

        <p class="govuk-body-m">You should use experience to assess a candidate's knowlege of an activity or subject gained through involvement in or exposure to it.</p>

      <div class="govuk-!-margin-top-6 govuk-!-margin-bottom-2" id="exp1">
      {{ govukTextarea({
        label: {
          text: ""
        },
        id: "criteria-experience",
        rows: "3",
        name: "criteria-experience",
        value: data['criteria-experience']
      }) }}

      <!-- <a class="govuk-body-m" style="color:#1d70b8" onclick="showDiv('exp2')">Add another experience</a> -->
</div>

<input type="hidden" name="exp1" value="true">
      <button class="govuk-button govuk-!-margin-top-4" data-module="govuk-button">Continue</button>

</form>





{% endblock %}
