{% extends "layouts/main.html" %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block pageTitle %}
Assessments – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

{% set abilityArray = ['Abilities'] %}

{% if data['criteria-ability-1'].length > 0 %}
{% set abilityArray = (abilityArray.push(data['criteria-ability-1']), abilityArray) %}
{% endif %}
{% if data['methods-ability-app-1'].length > 0 %}
{% set abilityArray = (abilityArray.push(data['methods-ability-app-1']), abilityArray) %}
{% endif %}
{% if data['methods-ability-app-2'].length > 0 %}
{% set abilityArray = (abilityArray.push(data['methods-ability-app-2']), abilityArray) %}
{% endif %}
{% if data['criteria-ability-2'].length > 0 %}
{% set abilityArray = (abilityArray.push(data['criteria-ability-2']), abilityArray) %}
{% endif %}
{% if data['criteria-ability-3'].length > 0 %}
{% set abilityArray = (abilityArray.push(data['criteria-ability-3']), abilityArray) %}
{% endif %}



{{ abilityArray }}

<form class="form" action="#" method="post">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
      Lorem ipsum
      </h1>

      <div class="moj-scrollable-pane">
        <table class="govuk-table">

          <caption class="govuk-table__caption--m" style="text-align:left"><h2 class="govuk-heading-l">At application</h2></caption>

          <thead class="govuk-table__head">
            <tr class="govuk-table__row">

              <th style="width:15%" scope="col" class="govuk-table__header">Type</th>

              <th style="width:30%" scope="col" class="govuk-table__header">Criteria</th>

              <th style="width:30%" scope="col" class="govuk-table__header">Method(s)</th>

              <th style="width:25%" scope="col" class="govuk-table__header">Actions</th>
            </tr>
          </thead>

          <tbody class="govuk-table__body">


            {% if data['criteria-ability-1'].length > 0 %}
            <tr class="govuk-table__row">

              <td style="color:#1d70b8" class="govuk-table__cell"><strong>Abilities</strong></td>

              <td class="govuk-table__cell"><strong>{{ data['criteria-ability-1']}}</strong></td>


              <td class="govuk-table__cell">{{ data['methods-ability-app-1']}}</td>

              <td class="govuk-table__cell">Change | Delete</td>
                {{ data['array']}}
            </tr>
            {% endif %}

            {% if data['criteria-skills-1'].length > 0 %}
            <tr class="govuk-table__row">

              <td style="color:#1d70b8" class="govuk-table__cell"><strong>a</strong></td>

              <td class="govuk-table__cell"><strong></strong></td>


              <td class="govuk-table__cell"></td>

              <td class="govuk-table__cell">Change | Delete</td>

            </tr>
            {% endif %}
          </tbody>
        </table>

      </div>

      <div class="moj-scrollable-pane">
        <table class="govuk-table">

          <caption class="govuk-table__caption--m" style="text-align:left"><h2 class="govuk-heading-l">At interview</h2></caption>

          <thead class="govuk-table__head">
            <tr class="govuk-table__row">

              <th style="width:15%" scope="col" class="govuk-table__header">Type</th>

              <th style="width:30%" scope="col" class="govuk-table__header">Criteria</th>

              <th style="width:30%" scope="col" class="govuk-table__header">Method(s)</th>

              <th style="width:25%" scope="col" class="govuk-table__header">Actions</th>
            </tr>
          </thead>

          <tbody class="govuk-table__body">

            <tr class="govuk-table__row">

              <td style="color:#1d70b8" class="govuk-table__cell"><strong></strong></td>

              <td class="govuk-table__cell"><strong></strong></td>


              <td class="govuk-table__cell"></td>

              <td class="govuk-table__cell">Change | Delete</td>

            </tr>

          </tbody>
        </table>

      </div>



      <button class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">Continue</button>

    </form>



    {% endblock %}
