{% extends "layouts/main.html" %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block pageTitle %}
Assessments – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<form class="form" action="#" method="post">
  <a style="float:right" href="list-by-criteria">criteria</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-l govuk-!-margin-top-3">Vacancy <strong>Policy Advisor, SEO</strong></span>
      <h1 class="govuk-heading-xl">
        You have 3 assessment items
      </h1>


      <div class="moj-scrollable-pane">
        <table class="govuk-table">

          <caption class="govuk-table__caption--m" style="text-align:left"><h2 style="color:#1d70b8" class="govuk-heading-l">At application</h2></caption>

          <thead class="govuk-table__head">
            <tr class="govuk-table__row" style="background:#f3f2f1">

              <th style="width:15%" scope="col" class="govuk-table__header">Type</th>

              <th style="width:30%" scope="col" class="govuk-table__header">Criteria</th>

              <th style="width:30%" scope="col" class="govuk-table__header">Method(s)</th>

              <th style="width:25%" scope="col" class="govuk-table__header">Actions</th>
            </tr>
          </thead>

          <tbody class="govuk-table__body">




            <tr class="govuk-table__row">

              <td  class="govuk-table__cell"><strong>  </strong></td>

              <td class="govuk-table__cell"><strong></strong></td>


              <td class="govuk-table__cell"></td>

              <td class="govuk-table__cell"><a href="ability-how">Change</a> | <a href="#">Delete</a></td>

            </tr>


            <tr class="govuk-table__row">

              <td class="govuk-table__cell"><strong>a</strong></td>

              <td class="govuk-table__cell"><strong></strong></td>


              <td class="govuk-table__cell"></td>

              <td class="govuk-table__cell"><a href="ability-how">Change</a> | <a href="#">Delete</a></td>

            </tr>

          </tbody>
        </table>

      </div>

      <div class="moj-scrollable-pane">
        <table class="govuk-table">

          <caption class="govuk-table__caption--m" style="text-align:left"><h2 style="color:#1d70b8" class="govuk-heading-l">At interview</h2></caption>

          <thead class="govuk-table__head">
            <tr class="govuk-table__row">

              <th style="width:15%" scope="col" class="govuk-table__header">Type</th>

              <th style="width:30%" scope="col" class="govuk-table__header">Criteria</th>

              <th style="width:30%" scope="col" class="govuk-table__header">Method(s)</th>

              <th style="width:25%" scope="col" class="govuk-table__header">Actions</th>
            </tr>
          </thead>

          <tbody class="govuk-table__body">

            <tr class="govuk-table__row">

              <td  class="govuk-table__cell"><strong>XX</strong></td>

              <td class="govuk-table__cell"><strong>XX</strong></td>


              <td class="govuk-table__cell"></td>

              <td class="govuk-table__cell"><a href="ability-how">Change</a> | <a href="#">Delete</a></td>

            </tr>

          </tbody>
        </table>

      </div>
      <div>

        {% from "govuk/components/button/macro.njk" import govukButton %}

        {{ govukButton({
          text: "Add another assessment",
          classes: "govuk-button--secondary"
        }) }}
      </div>
      <div class="govuk-!-margin-top-9">
        {% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Continue vacancy set-up"
}) }}
      </div>
    </form>

    {% endblock %}
