
<div id="fir" class="govuk-!-margin-top-6" style="border:0.15px solid grey;border-radius:5px;padding:10px">
  <div style="border:0.25px solid lightgrey;border-radius:5px;padding:10px">
    <h2 class="govuk-heading-m govuk-!-margin-top-0">
      At application
    </h2>
  </div>
</div>
<div id="sec" class="govuk-!-margin-top-6" style="border:0.15px solid grey;border-radius:5px;padding:10px">
  <div style="border:0.25px solid lightgrey;border-radius:5px;padding:10px">
    <h2 class="govuk-heading-m govuk-!-margin-top-0">
      At application
    </h2>
  </div>
</div>
<div id="thd" class="govuk-!-margin-top-6" style="border:0.15px solid grey;border-radius:5px;padding:10px">
  <div style="border:0.25px solid lightgrey;border-radius:5px;padding:10px">
    <h2 class="govuk-heading-m govuk-!-margin-top-0">
      At application
    </h2>
  </div>
</div>
<div id="fir" class="govuk-!-margin-top-6" style="border:0.15px solid grey;border-radius:5px;padding:10px">
  <div style="border:0.25px solid lightgrey;border-radius:5px;padding:10px">
    <h2 class="govuk-heading-m govuk-!-margin-top-0">
      At application
    </h2>
  </div>
  <div style="border:0.25px solid lightgrey;border-radius:5px;padding:10px">
    <h2 class="govuk-heading-m govuk-!-margin-top-0">
      At interview
    </h2>
  </div>
</div>
<div id="sec" class="govuk-!-margin-top-6" style="border:0.15px solid grey;border-radius:5px;padding:10px">
  <div style="border:0.25px solid lightgrey;border-radius:5px;padding:10px">
    <h2 class="govuk-heading-m govuk-!-margin-top-0">
      At application
    </h2>
  </div>
  <div style="border:0.25px solid lightgrey;border-radius:5px;padding:10px">
    <h2 class="govuk-heading-m govuk-!-margin-top-0">
      At interview
    </h2>
  </div>
</div>
<div id="thd" class="govuk-!-margin-top-6" style="border:0.15px solid grey;border-radius:5px;padding:10px">
  <div style="border:0.25px solid lightgrey;border-radius:5px;padding:10px">
    <h2 class="govuk-heading-m govuk-!-margin-top-0">
      At application
    </h2>
  </div>
  <div style="border:0.25px solid lightgrey;border-radius:5px;padding:10px">
    <h2 class="govuk-heading-m govuk-!-margin-top-0">
      At interview
    </h2>
  </div>
</div>
