{% extends "layouts/main.html" %}

{% block pageTitle %}
What do you want to assess? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<form class="form" action="/ass-handle" method="post">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        What do you want to assess?
      </h1>
      
      {% from "govuk/components/radios/macro.njk" import govukRadios %}
      {{ govukRadios({
        name: "select-assess",
        fieldset: {
          legend: {
            text: "",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
        {
          value: "ability",
          text: "ability"
        },
        {
          value: "behaviours",
          text: "behaviours"

        },
        {
          value: "experience",
          text: "experience"

        },
        {
          value: "skills",
          text: "technical knowledge / skills"
        },
        {
          value: "strengths",
          text: "strengths"
        }
        ]
      }) }}
      <button class="govuk-button" data-module="govuk-button">Continue</button>
    </form>
    {% endblock %}
